<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--This is the root of your config file-->
  <!-- Level 0 -->
  <!--This specifies what the section name is-->
  <configSections>
    <!-- Level 1 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, 
            log4net"/>
    <!-- Level 2 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <!-- Level 1 -->
    <appender>
      <!-- Level 2 -->
      <layout>
        <!-- Level 3 -->
        <conversionPattern/>
        <!-- Level 4 -->
      </layout>
      <filter>
        <!-- Level 3 -->
      </filter>
    </appender>
    <root>
      <!-- Level 2 -->
      <level/>
      <!-- Level 3 -->
      <appender-ref/>
      <!-- Level 3 -->
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger>
      <!-- Level 2 -->
      <level/>
      <!-- Level 3 -->
      <appender-ref/>
      <!-- Level 3 -->
    </logger>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <WpfApplication1.Properties.Settings>
      <setting name="MashEfficiency" serializeAs="String">
        <value>0.8</value>
      </setting>
    </WpfApplication1.Properties.Settings>
  </userSettings>
</configuration>
